body{

    background-color:rgb(107, 170, 185);
    font-family:'Times New Roman', Times, serif;
}
h1 {

    Color:rgb(238, 184, 202);
    font-size:45px;
    text-align:center;    
}
h2 {font-size: 30px;
    color:olivedrab;
    text-align: center;
}

p {
    Color:rgb(30, 9, 78);
    font-size: 14px;
    font-style:italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 
