body{
    background-color:rgb(0, 0, 7);
    font-family:'Times New Roman', Times, serif;
}
h1 {

    Color:rgb(218, 44, 102);
    font-size:45px;
    text-align: center;    
}
p {
     
    Color:rgb(218, 44, 102);
    font-size 14px;
    font-style:italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 
ul {
    font-size: 14px;
    Color:rgb(218, 44, 102);
}

